.agentsCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  background-color: #bbb;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  position: relative;
}

.agentsHeading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.agentsHeading img {
  width: 150px;
  height: 150px;
  background-color: blanchedalmond;
  border-radius: 50%;
}

.agentsHeading p {
  font-size: 1.5rem;
}
.btn {
  padding: 5px 10px;
  font-size: 25px;
  border-radius: 10px;
  background-color: bisque;
  color: blue;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
